<ul>
    {% for item in menu_items %}
        <li class="{% if item.get_absolute_url == current_path %}active{% endif %}">
            <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
            {% if item.children.all %}
                <ul>
                    {% for child in item.children.all %}
                        <li class="{% if child.get_absolute_url == current_path %}active{% endif %}">
                            <a href="{{ child.get_absolute_url }}">{{ child.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
